/**************************/
/* HEADER */
/**************************/

.header {
  font-family: "Borel", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7dbdc;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 4.8rem 4.8rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-logo {
  padding: 0.2rem 0.2rem;
  height: 9.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 2.4rem;
  /* top | right | bottom | left */
  padding: 1.2rem 0 0 0;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #822e31;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 2.8rem 2.4rem 1.2rem 2.4rem;
  border-radius: 50px;
  color: #fff;
  background-color: #d84d52;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #822e31;
}

.instagram-link img {
  height: 4.8rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  font-family: "Borel", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/images/food-zenital/wallpaper.jpg);
  background-size: cover;
}

.hero-cta:link,
.hero-cta:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 4.8rem;
  transition: all 0.3s;
  padding: 5.4rem 4.8rem 2.4rem 4.8rem;
  margin-top: 60rem;
  border-radius: 50px;
  color: #fff;
  background-color: #d84d52;
}

.hero-cta:hover,
.hero-cta:active {
  background-color: #822e31;
}

/***********************/
/* CONCEPT SECTION */
/***********************/

/***********************/
/* MENU SECTION */
/***********************/

.section-menu {
  padding: 9.6rem 0;
}

.grid--menu {
  gap: 3.2rem;
  grid-template-columns: 1fr 2fr;
}

.step-text-box {
  padding: 1.2rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333;
}

.step-heading span {
  font-family: "Borel", sans-serif;
  color: #d84d52;
}

.details-text-box {
  font-family: "Borel", sans-serif;
  padding: 1.2rem;
  line-height: 4rem;
}

.details-heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #d84d52;
}

.details-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 1.2rem;
}

.details-list li {
  font-size: 1.8rem;
  font-weight: 300;
  color: #777;
}

.details-list li:not(:last-child) {
  margin-bottom: 0.6rem;
}

/***********************/
/* RECRUTEMENT SECTION */
/***********************/

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #e07175, #822e31);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #411719;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(130, 46, 49, 0.383),
      rgba(64, 23, 25, 0.511)
    ),
    url("../img/images/team/DSC09324.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  padding: 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(173, 170, 166, 0.476);
}

/***********************/
/* FOOTER */
/***********************/

.footer {
  padding: 6.4rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer-logo {
  place-self: center;
}

.logo-col img {
  height: 24rem;
  place-self: center;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;

  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #767676;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.address {
  margin-bottom: 1.6rem;
}
